*{
  margin: 0px;
  padding: 0px;
}
/* Background colour*/
body {
  background-color: white;
}
/* nav bar settings*/
nav {
  width: 100%;
  height:60px;
  background-color: navy;
  margin-top: 40px;
}
/* uncover heading settings in the nav bar*/
nav h1 {
  font-family: Arial;
  font-style: italic;
  color: white;
  font-size: 40px;
  line-height: 35px;
  float: left;
  padding: 13px 100px;
}
/* menu items in the nav bar*/
nav ul {
  float:left;
  padding:10px 200px;
}
/* dropdown menu items under genre in the nav bar*/
nav ul li {
  float: left;
  list-style: none;
  font-family: Arial
  color: black
  position: relative;
  padding: 12px 10px;
}
nav ul li a {
  display: block;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 0px 5px;
  text-decoration: none;
}
/*dropdown menu background */
nav ul li ul {
  display: none;
  position: absolute;
  padding: 0px;
  background:navy;
}
/* command to display dropdown menu only when mouse on genre*/
nav ul li:hover ul {
  display: block;
}
/* size of the dropdown menu*/
nav ul li ul li  {
  width: 200px;
  height: 20px;
  border-radius: 2px;
}
nav ul li ul li a {
  padding: 0px 2px;
}
/* command to highlight dropdown menu item when hovered over*/
nav ul li ul li a:hover {
  background-color: grey;
  padding: 3px;
}
/* Page Heading settings*/
h1{
  font-family: Arial;
  font-size: 30px;
  text-align: center;
  color: black;
  padding-top: 30px;
  padding-left: 0px;
}

h2 {
  font-family: Arial;
  font-size: 30px;
  text-align: left;
  color: black;
  padding-top: 30px;
  padding-left: 30px;
}
p {
  font-family: Arial;
  font-size: 20px;
  color: black;
  padding-left: 60px;
  padding-top: 30px;
}
/* Settings for forms*/
form {
  font-family: Arial;
  font-size: 20px;
  padding-left: 300px;
  padding top: 30px;
}
/* settings for */
ol {
  font-family: Arial;
  font-size: 20px;
  color: black;
  padding-top: 20px;
  padding-left: 65px;
}
input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 20;
  box-sizing: border-box;
}
input a
 {
  width: 80%
  padding:12px 20px
  margin: 8px 0;
  box-sizing: content-box;
}
